<div>
	<button ng-click="leaveRoom()">Leave room</button>

	<div id="Chat">
		<div class="row">
			
			<div class="col-md-3 col-xs-3">
				<h4>Chat Messages:</h4>
				<ul>
					<li ng-repeat="item in messageList">
						<span>
							<strong>{{item.timestamp | date:"HH:mm:ss"}}</strong>
							<strong>{{item.nick}}:</strong>
							{{item.message}}
						</span>
					</li>
				</ul>
				<input ng-model="theMessage" ng-keypress="keyPress($event)" autofocus>
				<button ng-click="sendMessage()">Send</button>
				<p class="alert alert-danger alert-dismissable">{{errorMessage}}</p>
			</div>

			<div class="col-md-3 col-xs-3">
				<div id="ListOfUsers">
					<h4>Userlist:</h4>
					<ul>
						<li ng-repeat="item in userList">{{item}}</li>
					</ul>
				</div>
			</div>

			<div class="col-md-3 col-xs-3">
				<h4>Private Messages:</h4>
				<ul>
					<li ng-repeat="message in privateMessages">
						<strong>{{message.from}}</strong>
						{{message.message}}
					</li>
				</ul>
			</div>


		</div><!-- End Row -->
	</div><!-- End Chat -->

</div>