<div>
	<button ng-click="leaveRoom()">Leave room</button>
	<p>You are logged in as: {{userName}}</p>
	
	<aside>
		<ul>
			<li ng-repeat="message in privateMessages">
				<strong>{{message.from}}</strong>
				{{message.message}}
			</li>
		</ul>
	</aside>
	
	<div id="Chat">
		<ul>
			<li ng-repeat="item in messageList">
				<span>
					<strong>{{item.timestamp | date:"HH:mm:ss"}}</strong>
					<strong>{{item.nick}}:</strong>
					{{item.message}}
				</span>
			</li>
		</ul>
		<input ng-model="theMessage">
		<button ng-click="sendMessage()">Send</button>
	</div>
	<div id="ListOfUsers">
		<ul>
			<lh>Users<lh>
			<li ng-repeat="item in userList"></li>
		</ul>
	</div>
</div>