<div>
	<h1>Welcome to the lobby, {{userName}}</h1>
	
	<aside>
		<ul>
			<li ng-repeat="message in privateMessages">
				<strong>{{message.from}}</strong>
				{{message.message}}
			</li>
		</ul>
	</aside>
	
	<div id="CreateNewChatRoom">
		<input ng-model="chatRoomName" placeholder="Enter room name"></input>
		<button ng-click="createNewChatRoom()">Create a new chatroom</button>
	</div>
	
	<p>or click a room from the list to join.</p>
	
	<div id="ListOfChatRooms">
		<table>
			<ul ng-repeat="item in chatRooms">
				<li ng-click="joinRoom($index)">{{$index}} {{item.topic}}</li>
			</ul>
		</table>
	</div>
</div>